.horizontal-slider {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  .example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    border: 5px solid #009879;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  }
  .example-thumb.active {
    background-color: grey;
  }
  .example-track {
    position: relative;
    background: #ddd;
  }
  .example-track.example-track-0 {
    background: #009879;
  }
  .horizontal-slider .example-track {
    top: 20px;
    height: 4px;
  }
  .horizontal-slider .example-thumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 38px;
  }

.style-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.style-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.style-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.style-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 2rem;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.u-textCenter {
    text-align: center;
}

strong {
    color: #009879;
}

.myButton{
    background:url("../../../images/submit.jpg") no-repeat;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}

.myButton:active {
     background:url("../../../images/submit.jpg") no-repeat;
}

.submit-button {
    height: "10vh";
    width: "13vw";
    background-size: "100% 100%";
}

.brighten:hover {
    filter: saturate(500%)
}

.center {
    margin: auto;
}

#table-div {
    border: 2px solid black;
    border-radius: 8px;

}

body {
    font-family: "Gloria Hallelujah";
    margin: 7rem;
}

p {
    font-size: 1.2rem;
}